# node modules in local
frontend/node-modules/

# secret files
**/backend/.env
**/.env.local
**/.env.*.local

# cache files
**/__pycache__/

# Log file
*.log

# other folder/file
google-account-console/
